@font-face {
  font-family: "custom-cursive";
  src: url(./assets/fonts/custom-cursive.ttf);
}

body {
  background: linear-gradient(to right, #11998e, #38ef7d);
  margin-bottom: 30px;
}
@media screen and (min-width: 767px) {
  .product-card {
    width: 600px;
  }
}
.product-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-image {
  padding: 10px;
  cursor: pointer;
  object-fit: contain;
  transition: 0.2s;
  height: inherit;
}

.product-image:hover {
  transform: scale(1.03);
}

.header-icon {
  height: 25px;
  color: white;
}

#cart-counter {
  position: relative;
  left: -22px;
  top: -15px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

#cart-counter-circle {
  position: relative;
  left: -10px;
  top: -14px;
  color: orange;
  height: 16px;
}
